* {
	margin: 0;
	padding: 0;
  }
  
  body {
	font-style: normal;
	font-family: "Inter", "Inter Placeholder", sans-serif;
	font-size: 16px;
	text-align: center;
  }
  
  h3 {
	font-weight: 700;
	color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
	font-size: 40px;
	letter-spacing: -2.1px;
	line-height: 1.2;
  }
  
  .navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
  }
  
  .navbar-brand {
	font-weight: 700;
	color: #111111;
  }
  
  .navbar-nav .nav-item:nth-child(1) .nav-link:hover {
	color: #222222;
  }
  
  .btn-shadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .header {
	padding-top: 10px;
	margin-top: 105px;
  }
  
  .header h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 1.2;
	letter-spacing: -2.8px;
  }
  
  .section-2 {
	width: 380px;
	padding: 1.5rem 0;
  }
  
  .section-2 p {
	font-weight: 500;
	color: var(--token-1021654d-251a-4750-952b-de3f7005260e, #888888);
	font-size: 24px;
	letter-spacing: -0.7px;
	line-height: 1.5;
  }
  
  .section-3 {
	width: 62%;
	padding: 7.5rem 0;
  }
  
  .section-3 h3 {
	padding-bottom: 0.7rem;
	font-size: 54px;
	letter-spacing: -3.8px;
  }
  
  .section-3 p {
	font-weight: 500;
	color: #888888;
	font-size: 24px;
	letter-spacing: -0.5px;
	line-height: 1.5;
  }
  
  .section-4 {
	padding: 7rem 0;
  }
  
  .section-4 h3 {
	padding-bottom: 12px;
  }
  
  .section-5 {
	color: #e6e6e6;
	padding: 50px 50px 30px 20px;
  }
  
  .socials {
	color: #aaaa;
	text-decoration: none;
  }
  
  .socials:hover {
	color: #cccc;
  }
  
  @media (max-width: 575.98px) {
	.navbar-nav {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	}
	.navbar-nav .nav-item {
	  text-align: center;
	  flex: 1;
	}
	.navbar-nav .nav-item button {
	  display: block;
	  width: 100%;
	}
	.header h1 {
	  font-size: 40px;
	  padding: 0.5rem 0;
	}
	.section-2 {
	  width: 280px;
	}
	.section-2 p {
	  font-size: 18px;
	}
	.section-3 {
	  padding: 6rem 0;
	  width: 67%;
	}
	.section-3 h3 {
	  padding-bottom: 1rem;
	  font-size: 40px;
	  letter-spacing: -2.2px;
	  line-height: 1;
	}
	.section-3 p {
	  font-weight: 400;
	  font-size: 16px;
	}
	.section-4 h3 {
	  font-weight: 700;
	  font-size: 32px;
	  letter-spacing: -2.1px;
	  line-height: 1.2;
	}
	.section-5 {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 1.5;
	/* text-align: left; */
	padding: 50px 30px 30px 40px;
	}
  }
  