.body {
  font-style: normal;
  font-family: "Roboto", "Roboto Placeholder", sans-serif;
  color: #000000;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
}

.project-header {
  margin-top: 12rem;
  text-align: left;
}

.project-header .left {
  margin-top: 9rem;
  padding: 0 15px;
}

.project-header .left h3 {
  font-weight: 400;
  font-size: 50px;
  padding-bottom: 10px;
}

.project-header .left p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.project-header .video {
  width: 100%;
}

.project-header .video-text {
  font-weight: 400;
  font-size: 25px;
}

.campaign-btn {
  border-radius: 20px;
  padding: 8px 13px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}

.donate-btn {
  border-radius: 20px;
  padding: 8px 13px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}

/* campaigns */
.campaigns {
  text-align: left;
  font-weight: 400;
  padding: 5px 15px 15px;
}

.campaign-margin {
  margin-top: 4rem;
}

.campaigns h3 {
  font-weight: 400;
  font-size: 32px;
  padding: 30px 0;
}

.campaigns p {
  font-weight: 400;
  font-size: 20px;
}

.campaigns .card-row {
  padding-bottom: 20px;
}

.card-border-top {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.progress-text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0px;
  margin-top: 0.5rem;
}

.more-campaigns a {
  font-weight: 400;
  color: rgba(76, 76, 94, 0.87);
  font-size: 27px;
}

.more-campaigns a:hover {
  color: rgba(19, 19, 30, 0.87);
}

/* categories */
.categories {
  padding: 5px 15px 20px;
  background-color: #e6e6e6;
}

.categories h3 {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  padding: 30px 0;
}

.categories .card {
  margin-bottom: 15px;
}

/* funding */
.funding {
  background-color: #c4c4c4;
}

.funding p {
  font-weight: 400;
  font-size: 40px;
}

/* footer */
.project-footer {
  background-color: rgba(196, 196, 196, 0.18);
  padding: 45px 15px 30px 15px;
  text-align: left;
}

.project-footer h4 {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  .project-header .left h3 {
    font-size: 35px;
  }
  .project-header .video-text {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .project-header {
    text-align: center;
    margin-top: 1rem;
  }

  .project-header .left {
    margin-bottom: 2rem;
  }

  .project-header .left h3 {
    margin-bottom: 1rem;
  }

  .donate-btn {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
}

@media (max-width: 575.98px) {
  .project-header .left h3 {
    font-size: 35px;
  }

  .project-header .video {
    width: 90%;
  }
  .project-header .video-text {
    font-size: 22px;
  }
  .funding p {
    padding: 0 10px;
    font-size: 30px;
    text-align: center;
  }
}
