* {
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
  text-align: center;
}

h3 {
  font-weight: 700;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 40px;
  letter-spacing: -2.1px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.navbar-brand {
  font-weight: 700;
  color: #111111;
}

.navbar-nav .nav-item:nth-child(1) .nav-link:hover {
  color: #222222;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.icon-toggle {
  font-size: 25px;
}

.btn-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
  padding-top: 10px;
  margin-top: 120px;
}

.header h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: -2.8px;
}

.section-2 {
  width: 380px;
  padding: 1.5rem 0;
}

.section-2 p {
  font-weight: 500;
  color: var(--token-1021654d-251a-4750-952b-de3f7005260e, #888888);
  font-size: 24px;
  letter-spacing: -0.7px;
  line-height: 1.5;
}

.section-3 {
  width: 62%;
  padding: 7.5rem 0;
}

.section-3 h3 {
  padding-bottom: 0.7rem;
  font-size: 54px;
  letter-spacing: -3.8px;
}

.section-3 p {
  font-weight: 500;
  color: #888888;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

.section-4 {
  padding: 7rem 0;
}

.section-4 h3 {
  padding-bottom: 12px;
}

.footer {
  color: #e6e6e6;
  padding: 50px 50px 30px 20px;
}

.socials {
  color: #aaaa;
  text-decoration: none;
}

.socials:hover {
  color: #cccc;
}

.header .signup-section {
  padding-top: 10px;
  margin-top: 30px;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1.2;
}

/* Sign Up Form */

.hide-on-mobile {
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", "Lato Placeholder", sans-serif;
  color: #555555;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  padding-top: 10px;
}

.form-input {
  position: relative;
  margin-left: 15px;
  /* display: inline-block; */
}

.emoji {
  position: absolute;
  top: 55%;
  left: 7px;
  /* transform: translateY(-50%); */
}

.eye-emoji {
  position: absolute;
  top: 55%;
  left: 90%;
}

svg {
  width: 15px;
  height: 15px;
}

i {
  width: 10px;
  height: 10px;
  font-size: 13px;
  color: #a9a9a9;
}

i.emoji {
  top: 55%;
  left: 9px;
}

input[type="text"],
.row input[type="email"] {
  padding: 10px 10px 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 13px;
  width: 100%;
}

input[type="password"].toggle-password {
  padding: 10px 34px 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 13px;
  width: 100%;
}

input[type="text"].toggle-password {
  padding: 10px 34px 10px 30px;
}

input:focus {
  outline: 1px solid #787878;
  color: #000000;
}

.label-text {
  font-weight: 400;
  font-family: "Lato", "Lato Placeholder", sans-serif;
  color: #222222;
  font-size: 14px;
  padding-bottom: 1px;
}

.input-text {
  color: #414040;
  font-size: 12px;
}

/* .fa-eye-slash {
  display: none;
} */

select {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M4.5,4.5v15h15v-15h-15zM3,3h18v18h-18v-18z"/></svg>'); */
  background-repeat: no-repeat;
  background-position: right 10px center;

  padding: 10px 10px 10px 10px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  width: 100%;
}

option {
  width: 100%; /* set the width of the option element to 100% */
  height: 200px;
}


select:focus {
  border: none;
  outline: 1px solid #787878;
}

.signup-btn {
  margin: 1.5rem 0 3rem;
  padding: 10px 35px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
}

.error-message {
  position: absolute;
  font-size: 12px;
  color: #ff0000;
  top: 100%;
  left: 0;
  padding-bottom: 10px;
}

/* LogIn Form */
#login-form {
  text-align: left;
}

.login-title {
  margin-top: 7rem;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0px;
}

.login-form {
  margin-top: 2rem;
}

.input-login {
  border-radius: 10px;
  padding: 12px 14px;
  /* margin-bottom: 25px; */
}

.input-login:focus {
  box-shadow: none;
}

.login-button {
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 700;
  text-align: left;
}

.login-link {
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 15px;
}

.login-link:hover {
  color: #666666;
}

.input-error-message {
  color: #ff0000;
  font-size: 14px;
}

/* About Us */
.about-top-section {
  text-align: left;
  max-width: 70%;
}

.about-top-section h1 {
  padding-top: 50px;
}

.about-top-section h3 {
  padding: 40px 0 20px;
  font-weight: 700;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1;
}

.about-top-section p {
  color: #4f4f4f;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.6;
}

.about-top-section ol {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 2.1;
  margin-bottom: 10rem;
}

.about-footer .footer {
  color: var(--token-fb4b67b5-91ba-4b73-b4a6-f55417ea1c0c, #666666);
  margin-bottom: 10px;
}

/* verify */
/* .verify {
  text-align: center;
  margin-top: 10rem;
} */

/* media queries */
@media (min-width: 1200px) {
  .form-container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .form-container {
    max-width: 700px;
  }
  /* #login-form {
    max-width: 100px;
  } */
}

@media (min-width: 776px) {
  #login-form {
    max-width: 500px;
  }
}

@media (max-width: 776px) {
  #login-form {
    max-width: 500px;
    text-align: center;
  }

  .navbar-nav .nav-item button {
    display: block;
    width: 100%;
  }

  /* .form-input {
    margin-left: auto;
  } */

  .login-link {
    display: block;
    margin-top: 1rem;
    padding-left: 0;
    margin-left: 0; /* Remove left margin from "Forgot password?" link */
  }
}

@media (max-width: 575.98px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-item {
    text-align: center;
    flex: 1;
  }
  
  .header h1 {
    font-size: 40px;
    padding: 0.5rem 0;
  }
  .section-2 {
    width: 280px;
  }
  .section-2 p {
    font-size: 18px;
  }
  .section-3 {
    padding: 6rem 0;
    width: 67%;
  }
  .section-3 h3 {
    padding-bottom: 1rem;
    font-size: 40px;
    letter-spacing: -2.2px;
    line-height: 1;
  }
  .section-3 p {
    font-weight: 400;
    font-size: 16px;
  }
  .section-4 h3 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -2.1px;
    line-height: 1.2;
  }
  .footer {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.5;
    /* text-align: left; */
    padding: 50px 30px 30px 40px;
  }
  .header .signup-section {
    margin-top: 0;
  }
  .form-input {
    width: 300px;
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .signup-btn {
    width: 100%;
  }

  #login-form {
    text-align: center;
    max-width: 340px;
  }
  .about-top-section {
    max-width: 350px;
    text-align: center;
  }
  .about-top-section h3 {
    padding: 35px 0 10px;
  }
  .about-top-section p {
    font-weight: 300;
    color: #4f4f4f;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.6;
  }
  .about-top-section ol {
    font-size: 16px;
    line-height: 2;
  }
}
